.help-title
{
    font-size: 20px;
    font-weight: 600;
    color: var(--Similar-2-color);
    margin-bottom: 22px;
}
.help-list
{
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    color: var(--Similar-2-color);
}