.shiping-overs
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Red-color);
    padding: 22px 16px;
}
.shiping-overs-text,
.shiping-overs-sale
{
    color: var(--White-color);
}
.shiping-overs-span
{
    margin-left: 5px;
}
.shiping-overs-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White-color);
    border-radius: 13px;
    padding: 7px 13px;
    width: 84px;
}