.gallery-title
{
    font-size: 40px;
    font-weight: 600;
    color: var(--Red-color);
    text-align: center;
    margin-bottom: 15px;
}
.gallery-text
{
    font-size: 20px;
    color: var(--Similar-2-color);
    text-align: center;
    margin-bottom: 30px;
}
.gallery-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 11px;
    margin-bottom: 53px;
}
.gallery-minbox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px 0;
}
.galeery-min
{
    display: flex;
    gap: 0 8px;
}
.gallery_title
{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
    color: var(--Similar-2-color);
}
.gallery_text
{
    font-size: 20px;
    text-align: center;
    color: var(--Similar-2-color);
    margin-bottom: 40px;
}
.gallery-form
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    position: relative;
}
.gallery-input
{
    width: 525px;
    border: 1px solid var(--Similar-3-color);
    padding: 25px 175px 25px 43px;
}
.gallery-input::placeholder
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--Similar-3-color);
}
.gallery-btn
{
    content: '';
    position: absolute;
    top: 0;
    right: 443px;
    bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--White-color);
    background-color: var(--Red-color);
    text-transform: uppercase;
    padding: 25px 45px;
}