.footer
{
    background-color: var(--White-2-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-inner
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0 50px;
    border-bottom: 1px solid var(--Similar-3-color);
    padding: 75px 0 100px;
    margin: 0 auto;
}
.footer-box
{
    padding: 20px 0 15px;
}