.search-box
{
    display: flex;
    align-items: center;
    padding: 22px 0 30px;
}
.search-logo-img
{
    width: 124px;
    margin-right: 72px;
}
.search-input
{
    border: none;
    border-radius: 9px;
    background-color: var(--White-2-color);
    padding: 18px 280px 18px 37px;
    width: 700px;
    margin-right: 72px;
}
.microfon
{
    background-image: url(../../img/microfon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.search
{
    /* background-image: url(../../img/search.svg); */
    background-repeat: no-repeat;
    background-position: right;
}
.search-input::placeholder
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--Similar-3-color);
}
.search-user,
.heart-user
{
    margin-right: 26px;
}
.search-user,
.heart-user,
.shopping-bag
{
    width: 30px;
}