.section-milancelos
{
    padding-top: 287px;
}
.new-text
{
    font-size: 20px;
    font-weight: 500;
    color: var(--White-color);
    margin-bottom: 20px;
}
.title
{
    font-family: "Baskervville", serif;
    font-size: 96px;
    font-weight: 400;
    color: var(--White-color);
}
.text
{
    font-size: 24px;
    color: var(--White-color);
    width: 480px;
    margin-bottom: 70px;
}
.btn 
{
    font-size: 24px;
    font-weight: 500;
    color: var(--White-color);
    background-color: var(--Red-color);
    padding: 28px 96px;
    margin-bottom: 4px;
    position: relative;
}
.btn::before
{
    content: '';
    position: absolute;
    top: 88px;
    left: 55px;
    width: 292px;
    height: 2px;
    background-color: var(--Red-color);
}