.section-milancelos
{
    background-image: url(../img/main-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 970px;
}